<%- include('header') %>
    <h2>Nova Vaga:
        <a href="/admin/vagas">Vagas</a>
    </h2>
     
    <div>
        <form>
            <label>Título:</label>
            <input type="text">
            <br>
            <label>Descrição:</label>
            <textarea></textarea>
            <br>
            <label>Categoria:</label>
            <select>
                <option>Engineering Team</option>
                <option>Marketing Team</option>
            </select>
            <br>
            <button>Salvar vaga</button>
        </form>
     
     
     
     
     
    </div>
 
<%- include('footer') %>
