<%- include('header') %>
    <h2>Admin Vagas:
        <a href="/admin/vagas/nova">Nova vaga</a>
    </h2>
    <% results.forEach( vaga => { %>
    <div>
     
     <ul>
         <li>
            <%- vaga.titulo %> | 
            <a href="/admin/vagas/delete/<%- vaga.id %>">Excluir</a>
        </li>
     </ul>
    </div>
    <% }) %> 
<%- include('footer') %>
