<html>
  <head>
    <title>Jobify - by DevPleno </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/estilos.css" rel="stylesheet"> 
</head>
  <body>
    <h1><a href="/"><img src="/images/logo.png" alt="Jobify - by DevPleno"></a></h1>
    <p>We are Jobify - Join us!</p>
    <h2>Open Roles:</h2>
    <div>
        <h3>Engineering Team</h3>
     <ul>
         <li><a href="vaga">Fulltack Developer (Remote)</a></li>
     </ul>
    </div>
    <div>
        <h3>Marketing Team</h3>
     <ul>
         <li>Digital Marketing (San Francisco)</li>
     </ul>
    </div>
  </body>
</html>