<%- include('header') %>
    <h2>Open Roles:</h2>
    <% results.forEach( result => { %>
    <div>
        <h3><%- result.categoria %></h3>
     <ul>
         <li><a href="vaga"><%- result.titulo %></a></li>
     </ul>
    </div>
    <% }) %> 
<%- include('footer') %>
